@model InventarioVentasMVC.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center mt-5">

    <div class="col-md-4">

        <div class="card shadow">

            <div class="card-body">

                <h3 class="text-center mb-4">
                    Iniciar Sesión
                </h3>

                <form asp-action="Login"
                      method="post">

                    <div class="mb-3">

                        <label asp-for="Username"
                               class="form-label">
                        </label>

                        <input asp-for="Username"
                               class="form-control" />

                    </div>

                    <div class="mb-3">

                        <label asp-for="Password"
                               class="form-label">
                        </label>

                        <input asp-for="Password"
                               class="form-control" />

                    </div>

                    <button type="submit"
                            class="btn btn-primary w-100">

                        Entrar

                    </button>

                </form>

                <div asp-validation-summary="All"
                     class="text-danger mt-3">
                </div>

            </div>

        </div>

    </div>

</div>